.main {
    margin-top: 100px;

}

.img-style {    
    display: block;
    width: 300px;
    margin: 0 auto 0 auto;
}

.input-style {
    display: block;
    width: 400px;
    line-height: 24px;
    margin: 30 auto 0 auto;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    padding: 10px 30px;
}

.btn-wrap {
    display: flex;
    justify-content: center;
}

.btn {    
    margin: 30px 4px 0 4px;
    background: #dfe1e5;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 14px;
}